.variable-font-range {
    border-top: 1px solid #eaebeb;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.variable-font-range__title {
    display: flex;
    justify-content: space-between;
}

.variable-font-range__value-bar {
    display: flex;
    padding-top: 0.25rem;
    justify-content: space-between;
}

.variable-font-range__value-field {
    flex: 0 1 33.33333333333%;
}

.variable-font-range__value-field button {
    text-align: right;
}

.variable-font-range__value-field div[data-test-id="editable-node-container"] {
    display: inline-flex;
    padding: 0;
}

.variable-font-range__value-field:nth-child(1) div[data-test-id="editable-node-container"] {
    justify-content: flex-start;
}

.variable-font-range__value-field:nth-child(2) div[data-test-id="editable-node-container"] {
    justify-content: center;
}

.variable-font-range__value-field:nth-child(3) div[data-test-id="editable-node-container"] {
    justify-content: flex-end;
}