/* (c) Copyright Frontify Ltd., all rights reserved. */

.container {
    position: relative;
}

.styles-container > * + * {
    margin-top: 2rem;
}

.style-container > * + * {
    margin-top: 2rem;
}

.style-name {
    min-height: 1.25rem;
}

.style-info-container {
    padding-left: 2rem;
    border-left: 1px solid #eaebeb;
    margin-left: 2rem;
    max-width: 300px;
}

.style-info__name {
    font-weight: bold;
}

.example-text {
    font-size: 1.5rem;
    line-height: 1.75rem;
    pointer-events: none;
    max-width: 400px;
    flex: 0 1 400px;
}

.example-text__wrapper {
    display: flex;
    justify-content: space-between;
    
}

.example-text__edit-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 3rem;
}

.style-info-container,
.example-text__edit-wrapper {
    flex: 1 0 auto;
}

.example-text--blurred {
    filter: blur(3px);
    opacity: 0.2;
}

.empty-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.overlay-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

.color-selectors-wrapper {
    display: flex;
    gap: 0.5rem;
}

.color-selector {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    border: 1px black solid;
}

.color-selector__reset {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    cursor: pointer;
    border-radius: 3px;
    border: 1px black solid;
    color: black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-selector__checked-icon {
    color: rgb(0, 200, 165);
    height: 1rem;
    width: 1rem;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    background: white;
    border-radius: 100%;
}

.range-input {
    position: relative;
    padding-top: 10px;
    margin-top: 20px;
}

.range-input__slider {
    padding-top: 15px;
}

.range-input__text-field {
    position: absolute;
    top: 0;
    right: 0;
}

.style-info__header div[data-test-id="editable-node-container"] {
    justify-content: flex-start;
    display: inline-flex;
}